<app-public-navbar></app-public-navbar>
<div nz-row style="margin: 50px;">
    <div nz-col [nzSpan]="4" style="margin-right: 20px;">
        <div style="height : 80vh;background-color: #a0884d;">
            <app-filters [programName]="programName" (filterBody)="handleFilters($event)"></app-filters>
        </div>
    </div>
    <div nz-col [nzSpan]="19"  >
        <app-programs-tabular-list [programsList]="programsList"></app-programs-tabular-list>
    </div>
</div>
<app-public-footer></app-public-footer>