<app-public-navbar></app-public-navbar>
<div nz-row>
    <div nz-col nzSpan="24" >
        <nz-row class="hero-section ">
            <!-- Left Content -->
            <nz-col [nzSpan]="13" class="hero-text">
                <h1>
                    Find your perfect <br />
                    <span class="gradient-text">University</span> - Match, Explore, Succeed!
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <input nz-input placeholder="Find a Program" style="border-radius: 50px;" type="text" />
                    <button nz-button nzType="default" class="btn-demo" style="margin-right:80px">
                        <i nz-icon nzType="search"></i> Search
                    </button>
                </div>
            </nz-col>
            
            <!-- Right Image -->
            <nz-col [nzSpan]="11" class="hero-image" >
                <div class="image-container">
                <img src="/assets/Images/btu-bg.png" alt="Person" class="person-image" height="400" width="700" />
                </div>
            </nz-col>
        </nz-row>
        <div nz-row nzJustify="center">
            <div nz-col nzSpan="10" style="margin-right: 32px;">
                <nz-card  class="image-card" style="height: 30rem;">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut atque omnis animi at possimus ea adipisci neque, voluptate nostrum exercitationem dicta, unde doloremque incidunt error quam tempora voluptates alias repellat.eLorem ipsum dolor sit, amet consectetur adipisicing elit. Aut atque omnis animi at possimus ea adipisci neque, voluptate nostrum exercitationem dicta, unde doloremque incidunt error quam tempora voluptates alias repellat.eLorem ipsum dolor sit, amet consectetur adipisicing elit. Aut atque omnis animi at possimus ea adipisci neque, voluptate nostrum exercitationem dicta, unde doloremque incidunt error quam tempora voluptates alias repellat.e</p>
                </nz-card>
            </div>
            <div nz-col nzSpan="10">
                <div nz-row   nzJustify="center">
                    <div nz-col nzSpan="24">
                        <nz-card  class="image-card">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut atque omnis animi at possimus ea adipisci neque, voluptate nostrum exercitationem dicta, unde doloremque incidunt error quam </p>
                        </nz-card>
                    </div>
                </div>
                <div nz-row style="margin-top: 32px;">
                    <div nz-col nzSpan="11">
                        <nz-card style="background-color: #514a38;">
                            <h1 style="font-size: 38px; font-weight: 1000; color: #fff; margin: 0px;">400+</h1>
                            <p style="color: #fff;">higher education institutions in Germany</p>
                            <br/>
                            <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque inventore, voluptatibus animi ad corrupti sequi quaerat cupiditate possimus quae voluptas praesentium alias blanditiis veritatis quam aperiam!</p>
                        </nz-card>
                    </div>
                    <div nz-col nzSpan="11" nzOffset="2">
                        <nz-card style="background-color: #a0884d;">
                            <h1 style="font-size: 38px; font-weight: 1000; color: #fff; margin: 0px;">200+</h1>
                            <p style="color: #fff;">Business Schools in Germany</p>
                            <br/>
                            <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque inventore, voluptatibus animi ad corrupti sequi quaerat cupiditate possimus quae voluptas praesentium alias blanditiis veritatis quam aperiam!</p>
                        </nz-card>
                    </div>
                </div>
            </div>
        </div>


        <nz-row class="hero-section " >
            <!-- Left Content -->
            <nz-col [nzSpan]="12" class="hero-text">
                <h1>
                    Pathway to Study Abroad:  <br />
                    <span class="gradient-text">University</span> - A Step-by-Step Guide!
                </h1>
                <p>Embarking on your journey to study abroad can be exciting yet overwhelming. This step-by-step guide simplifies the process, from choosing the right destination to securing your visa, so you can turn your academic dreams into reality with confidence!</p>
            </nz-col>
            
            <!-- Right Image -->
            <nz-col [nzSpan]="10"  nzOffset="2" class="blob-img" style="margin-top: 100px;">
                <div nz-row>
                    <div nz-col nzSpan="6">
                        <div class="square"></div>
                    </div>
                    <div nz-col nzSpan="18">
                        <h3 style="font-size: 18px; font-weight: 700;">University Search & Admission </h3>
                        <p>Finding the right university is the first and most crucial step. Research programs that align with your goals, check eligibility criteria, and submit strong applications. Once accepted, secure your admission by paying the required fees and fulfilling any prerequisites.</p>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="6">
                        <div class="square"></div>
                    </div>
                    <div nz-col nzSpan="18">
                        <h3 style="font-size: 18px; font-weight: 700;">Visa Documentation & Preparation</h3>
                        <p>After securing admission, gather all necessary documents for your student visa. This may include financial proof, university acceptance letters, medical records, and other country-specific requirements. Ensure every document is accurate and ready to avoid delays.</p>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="6">
                        <div class="square"></div>
                    </div>
                    <div nz-col nzSpan="18">
                        <h3 style="font-size: 18px; font-weight: 700;">Visa Application & Interview</h3>
                        <p>Submit your visa application and prepare for the visa interview. This step determines your eligibility to study abroad, so be confident, honest, and well-prepared with all required paperwork and answers to expected questions.</p>
                    </div>
                </div>
            </nz-col>
        </nz-row>
    </div>
</div>

<div nz-content class="zoom">
    <div nz-row class="listView" nzJustify="center">
        <div nz-col nzSpan="23">
            <app-programs-list></app-programs-list>

        </div>
    </div>
</div>
<app-public-footer></app-public-footer>